# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
*.eggs/
*.env
*.venv
*.myvenv
.env
.venv/
.myvenv/
env/
venv/
myvenv/
ENV/
*.sqlite3

# MySQL 
*.sql
*.sql.gz

# Django specific
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Compiled
*.so
*.dll
*.dylib

# Migrations
**/migrations/*.py
**/migrations/__pycache__/

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Build artifacts
build/
dist/

# Certs
certs/

# Just in case
*/tokens.js
