*{
    font-family:Tahoma;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    position: relative;
    overflow: hidden;
    
}
button {
    color:black;
    border-color: #57c5ff;
    background-color: white;
    margin-top: 1vh;
    padding: 1vh;
    border-radius: 10px;

    span{
        font-variant: small-caps;
    }
}
input{
    border-color: #0094f5;
    border-radius: 10px;
    color: black;
    width: 100%;

}
#box {
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}
footer{
    position: absolute;
    bottom: 1vh;
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;

    a{
        color: black;
    }
}
#linkBox
{
    transition: transform 0.4s, width 2s;
    display: inline-block;
}
.close
{
    transform: scale(0);
    width: 0px;
}
.open
{
    transform: scale(1);
    width: 200px;
}

#circle1 {
    width: 60vw;
    height: 60vw;
    background-color: #57c5ff; 
    border-radius: 50%;
	opacity:50%;
    position: absolute;
    top: 30%;
	left:-10%;
    z-index: -1;
}

#circle2 {
    width: 45vw;
    height: 45vw;
    background-color:#57c5ff;
    border-radius: 50%;
	opacity:50%;
    position: absolute;
    top: 10%;
	left:60%;
    z-index: -1;
}

#circle3 {
    width: 30vw;
    height: 30vw;
    background-color: #57c5ff; 
    border-radius: 50%;
	opacity:50%;
    position: absolute;
    top: 20%;
	left:25%;
    z-index: -1;
}

#circle4 {
    width: 25vw;
    height: 25vw;
    background-color: #57c5ff; 
    border-radius: 50%;
	opacity:50%;
    position: absolute;
    top: 60%;
	left:65%;
    z-index: -1;
}
