NGINX_CONFIG_PATH="./frontend.conf"
WWW_HOME="../frontend"
CERT_DIR="certs"
RESTART_POLICY="unless-stopped"

#Change YourDatabase[*] to actual data

DATABASE_NAME="tinylink"
DATABASE_USER="tinylink"
DATABASE_PASSWORD="tinylink"
DATABASE_ROOT_PASSWORD="tinylink"
DATABASE_HOST="mariadb"
DATABASE_PORT="3306"

#most of this could be the same as actual database
TEST_DATABASE_NAME="test_tinylink"
TEST_DATABASE_USER="root"
TEST_DATABASE_PASSWORD="tinylink"
TEST_DATABASE_HOST="mariadb"
TEST_DATABASE_PORT="3306"

SECRET_KEY="CHANGE_ME"

ALLOWED_HOST="https://my.page.com"
ALLOWED_DOMAIN="my.page.com"

CERT_PATH="./certs/fullchain.pem"
KEY_PATH="./certs/privkey.pem"

API_URL="https://my.page.com:8080/api/"
API_URL_SHORTENED="https://my.page.com:8080/" #the one without'/api' at the end

WEB_KEY="WEB_KEY"
